<html>
  <head>
    <title>Edition potin</title>
  </head>
  <body>
    <h1>Modification potin</h1>
    <p>Quel connerie tu veux encore ajouter ?</p>
    <form action='' method='POST'>
      Balance toi : <input type='text' name='gossip_author'/><br/>
      Modifie le potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>